<section class = "cart_section layout_padding" >
    <div class ="container" id="cart-container">
        <div class="heading_container heading_center">
            <h2>
                Shopping Cart
            </h2>
        </div>
        <div class ="cart-table my-5">
            <table width=100%>
                <thead>
                    <tr>
                        <td>Remove</td>
                        <td>Image</td>
                        <td>Products</td>
                        <td>Price</td>  
                        <td>Quantity</td>
                        <td>Total</td>
                    </tr>
                </thead>
                <tbody class = "product-container">
                    {{#if user}}

                    {{#each cart.products}}
                    <tr>
                        <td style="text-align: center;"><a href ="#" ><i class = "fa fa-trash" onclick="handleRemove(event)" id ={{this._id}}></i></a>
                        <div class="loader remove-loader" id="remove-cart-loader-{{this._id}}" style="display: none;">
                        </div>
                        </td>
                        <td><img src = {{this.images.[0]}} alt=""></td>
                        <td><h5>{{this.name}}</h5></td>
                        <td><h5>${{this.price}}</h5></td>
                        <td><input type="number" class = "w-25 p1-1" value = "{{this.inCart}}"></td>
                        <td><h5>${{this.totalPrice}}</h5></td>
                    </tr>
                    {{/each}}

                    {{else}}
                    
                    {{/if}}
                    
                </tbody>
            </table>
        </div>
        
    <div class ="container" style="text-align: right;"> 
        <div class ="row">      
            <div class = "coupon col-lg-6 col-md-6 col-12 mb-4" style="padding-right: 0;"></div>
            <div class = "coupon col-lg-6 col-md-6 col-12 mb-4" style="padding-right: 0;">
                
                <div class = "cart-bottom-content">
                    {{#if user}}
                    <a href = "/user/checkout" class ="ml-auto"><button class="custom-btn btn btn-primary">CHECK OUT</button></a>
                    {{else}}
                    {{/if}}
                </div>     
            </div>  
            </div>
        </div>
    </div>
    </div>
</section>