<!-- Style -->
<link rel="stylesheet" href="/css/orderDetail.css">
<!--================Order Details Area =================-->
<section class="order_details section-margin--small">
    <div class="container">
        <h3>Order Detail</h3>
        <div class="row mb-5">
            <div class="col-md-6 col-xl-6 mb-4 mb-xl-0">
                <div class="confirmation-card">
                    <h3 class="billing-title">Order Info</h3>
                    <table class="order-rable">
                        <tr>
                            <td>Order number</td>
                            <td>: {{order._id}}</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td>: {{order.date}}</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>: {{order.totalCost}}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>: {{order.status}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6 col-xl-6 mb-4 mb-xl-0">
                <div class="confirmation-card">
                    <h3 class="billing-title">Billing Address</h3>
                    <table class="order-rable">
                        <tr>
                            <td>Street</td>
                            <td>: {{order.address}}</td>
                        </tr>
                        {{#if order.address.city}}
                            <tr>
                                <td>City</td>
                                <td>: Dhaka</td>
                            </tr>
                        {{/if}}
                        {{#if order.address.country}}
                            <tr>
                                <td>Country</td>
                                <td>: Bangladesh</td>
                            </tr>
                        {{/if}}
                        <tr>
                            <td>Receiver</td>
                            <td>: {{order.receiver}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="order_details_table">
            <h2>Order Details</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each order.products}}
                        <tr>
                            <td>
                                <p>
                                    <img src={{this.images.[0]}} alt="{{this.name}}" class="img-fluid" style="height: 30px; width: 30px; border-radius: 50%">
                                    {{this.name}}
                                </p>
                            </td>
                            <td>
                                <h5>{{this.inCart}}</h5>
                            </td>
                            <td>
                                <p>${{this.totalPrice}}</p>
                            </td>
                        </tr>
                    {{/each}}
                    <tr>
                        <td>
                            <h4>Subtotal</h4>
                        </td>
                        <td>
                            <h5></h5>
                        </td>
                        <td>
                            <p>${{subtotal}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Shipping</h4>
                        </td>
                        <td>
                            <h5></h5>
                        </td>
                        <td>
                            <p>Flat rate: ${{order.shipCost}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4>Total</h4>
                        </td>
                        <td>
                            <h5></h5>
                        </td>
                        <td>
                            <h4>${{order.totalCost}}</h4>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Order Details Area =================-->