<script src="/js/productPagination.js"></script>
<!-- products section -->
<section class="product_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Our products
            </h2>
        </div>
        <div class="product_container">
            <div class="row">
              {{#each products}}
              <div class="col-sm-6 col-lg-4">
                    <div class="box">
                        <a href="/users/cart" class="p_cart">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                        </a>
                        <div class="img-box">
                            <a href="{{this.productID}}"><img src={{this.images.[0]}} alt="{{this.name}}"></a>
                        </div>
                        <div class="detail-box">
                <span class="p_rating">
                    <a href="{{this.productID}}">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </a>
<!--                  <a href="#">-->
<!--                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                  </a>-->
<!--                  <a href="#">-->
<!--                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                  </a>-->
<!--                  <a href="#">-->
<!--                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                  </a>-->
<!--                  <a href="#">-->
<!--                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                  </a>-->
<!--                  <a href="#">-->
<!--                    <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                  </a>-->
                </span>
                            <a href="{{this.productID}}" class="p_name">
                                {{this.name}}
                            </a>
                            <h6 class="p_price">
                  <span class="new_price">
                    {{this.price}}$
                  </span>
                  <span class="sale_off">
                    Sale off {{this.sale}}%
                  </span>
                            </h6>
                        </div>
                    </div>
                </div>
              {{/each}}
            </div>

            <div class="col pt-5">
                <div id="test1"></div>
                <!-- (C) JAVASCRIPT -->
                <script>
                    // (C1) JAVASCRIPT FUNCTION TO HANDLE PAGINATION
                    function go (pg) {
                        paginate.draw({
                            target : test1,
                            total : 5,
                            current : pg,
                            click : go,
                        });
                    }

                    // (C2) INIT PAGINATION
                    go(1);
                </script>
<!--                <ul class="pagination pagination-md justify-content-center">-->

<!--                    <li class="page-item">-->
<!--                        <a class="page-link" href="#" aria-label="Previous">-->
<!--                            <span aria-hidden="true">&laquo;</span>-->
<!--                            <span class="sr-only">Previous</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    {{#each pages}}-->
<!--                        <li class="page-item"><a id="cur_pos" class="page-link" href="{{this.pageLink}}">{{this.currentPage}}</a></li>-->
<!--                    {{/each}}-->

<!--                    <li class="page-item">-->
<!--                        <a class="page-link" href="#" aria-label="Next">-->
<!--                            <span aria-hidden="true">&raquo;</span>-->
<!--                            <span class="sr-only">Next</span>-->
<!--                        </a>-->
<!--                    </li>-->

<!--                </ul>-->
            </div>
        </div>
    </div>
</section>
<!-- end product section -->
